body {
    margin: 0;
    background: #faf9f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 0 50px;
}

header nav {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    font-size: 18px;
    line-height: 48px;
}

.img-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rightbottom{
    position: fixed;
    right: 16px;
    font-size: 18px;
}
table {
    width: 100%;
}

.alnright {
    text-align: right; 
}